html, body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Tiempos Text", Times New Roman, serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.leaderboard{
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
    left: 0;
    top:0;
    height: 85px;
    width: 100%;
    border-bottom: 1px solid #bcbcbc;
    z-index: 999998;
    background-color: white;
    margin-left: 0;
}



.leaderboard_holder
{
    width: 100%;
    /* background-color: blue; */
    position: fixed;
    left: 0;
    top: 0;
    height: 85px;
}
.leaderboard_holder:hover .lb_button{
    display: inline-block;
}

.lb_button{
    display: none;
    width: 32px;
    height: 85px;
    right: 0;
    top: 0;
    position: fixed;
    background-color: grey;
    text-align: center;
    /* border: 1px solid #bcbcbc; */
    border: 0;
    border-bottom: 1px solid #bcbcbc;
    
    z-index: 999999;
}

#leftButton.lb_button
{
    right: 32px;
}

.lb_button:hover{
    background-color: #bcbcbc;
}

.leaderboardCard{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    height: 85px;
    width: 300px;
    border-left: 1px solid #bcbcbc;
}

.leaderboardCard:hover{
    background-color: #f7f7f7;
}



.leaderboardCard#first{
    border-left: none;
}

.rank{
    padding-top: 3px;
    margin-left: -10px;
    font-size: 1em;
    color: grey;
}

.cardPic{
    padding-left: 15px;
    padding-top: 3px;
    height: 75px;
    width: 50px;
}

.cardName{
    padding-left: 25px;
    padding-top: 12px;
    text-align: left;
    color: grey;
    font-size: 1em;
}

.cardScore{
    padding-left: 25px;
    vertical-align: center;
    text-align: left;
    font-size: .7em;
    color: grey;
}

.over{
    color: black;
    font-size: 1.5em;
}

.under{
    color: red;
    font-size:1.5em;
}


.playerImage{
    padding-top: 5px;
    border-radius: 50%;
    width: 60px;
    height: 60px; 
}

.header{
    margin: auto;
    margin-top: 86px;    /* top: 85px; */
    left: 0;
    right: 0;
    width: 905px;
    /* padding-left: 125px; */
    padding-bottom: 25px;
    height: 75px;
    line-height: 75px;
    vertical-align: middle;

}

.header a{
    text-decoration: none;
    color: #076652;
    font-size: 1.75em;
    padding-left: 25px;
    font-family: 'Benton Sans', BentonSans, Arial, Helvetica, sans-serif;
}

.leaderboard a{
    text-decoration: none;
    color: #076652;
    font-size: 1.5em;
    padding-left: 25px;
    font-family: 'Benton Sans', BentonSans, Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #076652;
    font-size: 1em;
    padding-left: 25px;
    font-family: 'Benton Sans', BentonSans, Arial, Helvetica, sans-serif;
}

.main{
    position: static;
    top: 170px;
    width: 900px;
    /* text-align: center;
    align-content: center;
    justify-content: center; */
    margin: auto;
}

.container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 80%;
    border: 1px solid #f7f7f7;

}

.card{
    text-align: center;
    align-content: center;
    background-color: #f7f7f7;
    height: 60%;
}

.card img{
    border-bottom: 10px solid #076652;
}

.description{
    padding-top: 5px;
    font-size: 2.5em;
    text-align: center;
    color: #076652;
}



.container2{
    margin-top: 10px;
    padding-top: 25px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    background-color: #f7f7f7;
    min-height: 0;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    z-index: -1;
}

.containerItem{
    margin: 15px;
    /* margin-top: 15px; */
    
    width: 600px;
    height: 500px;
    background-color:white;
    text-align: center;
}

.containerItem a
{
        text-decoration: none;
        color: #076652;
        font-size: 1.25em;
        font-family: 'Benton Sans', BentonSans, Arial, Helvetica, sans-serif;
}

.containerItem img{
    border-bottom: 7px solid #076652;
}

.footer{
    bottom: 0;
    width: 100%;
    height: 75px;
    text-align: center;
    margin: auto;
    background-color: #a5a5a5;
    /* position: relative; */
    clear: both;
    margin-top: 50px;
}

.miniCardDescription
{
    margin: auto;
    padding-top: 25px;
    text-align: center;
    color: #076652;
    font-size: 1.5em;
}

.miniCardDate{
    font-size: .9em;
    color: grey;
    text-align:center;
    margin: auto;
    /* width: 100%;
    border-top: 5px solid #076652; */
}

.vertical-text {
	transform: rotate(90deg);
    /* transform-origin: right bottom 0; */
    
}

.tableContainer{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding-top: 25px;
    justify-content: center;
    /* width: 1680px; */
    height: 800px;
    background-color: #f7f7f7;
    text-align: center;
    align-content: center;
    height: 80%;
    /* background-image: url('images/lb2.0.jpg'); */

}

.newsDescription{
    padding-top: 5px;
    font-size: 2em;
    text-align: left;
    color: #076652;
    width: 75%;
    margin: auto;
}

.newsDate{
    font-size: .9em;
    color: grey;
    text-align:left;
    width: 75%;
    margin: auto;
}

.newsText{
    padding-top: 5px;
    width: 75%;
    margin: auto;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5em;

}

.newsCard{
    text-align: center;
    align-content: center;

}

.eagle{
    box-sizing: content-box;
    content: ' ';
    /* position: absolute; */
    top: 50%;
    left: 50%;
    height: 0;
    width: 22px;
    padding-bottom: 22px;
    /* margin: -13px 0 0 -12px; */
    border: 3px double #006747;
    border-radius: 50%;
    }

.birdie{
        box-sizing: content-box;
        content: ' ';
        /* position: absolute; */
        top: 50%;
        left: 50%;
        height: 0;
        width: 22px;
        padding-bottom: 22px;
        /* margin: -13px 0 0 -12px; */
        border: 1px solid #006747;
        border-radius: 50%;
}

.bogey {
    box-sizing: content-box;
    content: '      ';
    /* position: absolute; */
    top: 50%;
    left: 50%;
    height: 0;
    width: 22px;
    padding-bottom: 22px;
    /* margin: -13px 0 0 -12px; */
    margin-left: 2px;
    border: 1px solid #006747;
}

.double_bogey{
    box-sizing: content-box;
    content: '      ';
    /* position: absolute; */
    top: 50%;
    left: 50%;
    height: 0;
    width: 22px;
    padding-bottom: 22px;
    margin-left: 2px;
    /* margin: -13px 0 0 -12px; */
    border: 3px double #006747;
}




.player_card {border-collapse:collapse;border-spacing:0;}
        .player_card td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .player_card th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .player_card .holeNos{font-size:18px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#076652;color:#ffffff;text-align:center}
        .player_card .scoreNos{font-size:18px;font-family:Tahoma, Geneva, sans-serif !important;;text-align:center}
        .player_card .parNos{font-size:18px;font-family:Tahoma, Geneva, sans-serif !important;;background-color:#009b77;color:#ffffff;text-align:center}
        .player_card .roundNo{font-size:18px;font-family:Tahoma, Geneva, sans-serif !important;;color:#076652;text-align:center}

.player_container{
    width: 900px;
    /* height: 80%; */
    text-align: center;
    align-content: center;
    margin: auto;
    z-index: -1;
}

.tab {
    overflow: hidden;

  }

.tab#roundsTab{
    background-color: #f5f5f5;
}

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.25em;
    color: #076652;
    font-family:Tahoma, Geneva, sans-serif !important;
  }

  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }

.player_header{
    position: relative;
    display: block;
    width: 900px;
    height: 265px;
    background-color: #076652;
    border: 1px solid lightgray;
    z-index: -1;
}

.player_header_bottom{
    position: absolute;
    width: 100%;
    height: 115px;
    background-color: white;
    bottom: 0;
    margin: 0;
    text-align: left;
    
}

.playerPic{
    position: absolute;
    padding-left: 25px;
    padding-top: 75px;
    height: 150px;
    width: 150px;
    z-index: 9999;
}

.playerImage_big{
    padding-top: 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 10px solid white;
}

.player_name{
    display: inline-block;
    bottom: 25px;
    font-size: 2.5em;
    color: #076652;
    padding-left: 225px;
    padding-top: 25px;
    
}

.player_position{
    display: inline-block;
position: absolute;
width: 100px;
height: 115px;
right: 300px;
text-align: center;
border-left: 1px solid lightgrey;
}

.player_today{
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 115px;
    right: 200px;
    text-align: center;
}

.player_thru{
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 115px;
    right: 100px;
    text-align: center;
}

.player_total{
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 115px;
    right: 0px;
    text-align: center;
}

.player_title_sub_text{
    font-size: 1em;
    color: grey;
    padding-top: 35px;
}
.player_title_text{

    font-size: 3em;
    font-weight: 50;
    font-family:Tahoma, Geneva, sans-serif !important;

}

.leaderboard_name{
    font-size:26px;
    text-align:left;
    vertical-align:top;
    padding-left: 0px;;
    color: black;

    
}

.tg  {border-collapse:collapse;border-spacing:0;}
                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                    .tg .lbHeader{font-size:26px;text-align:center;vertical-align:top;}
                    .tg .names{font-size:26px;text-align:left;vertical-align:top;}
                    .tg .score{font-family:Arial, sans-serif;font-size:20px;text-align:center}
                    .tg .tg-2fkd{font-size:26px;text-align:left}
                    .tg .tg-nbah{font-size:26px;text-align:center;vertical-align:top}
                    .under {color: #fe0000};

.legend-con {
    display: inline-block;
    right: 0;
    position: relative;
    width: 300px;
    padding-left: 200px;
    
}
    .legend-con ul {
        list-style: none;
    }

    .legend-con li {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        font-size: 20px;
        line-height: 60px;
        font-family:Arial, sans-serif;

    }
        .legend-con span {
            display: inline-block;
        }

        span.chart-legend {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    
.player_list_container{
    display: block;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 80%;
    margin: auto;

}
.player_list_card
{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    height: 275px;
    text-align: left;
    background-color: #ddd;
    -webkit-box-shadow: 3px 3px 15px 0px rgba(163,163,163,1);
-moz-box-shadow: 3px 3px 15px 0px rgba(163,163,163,1);
box-shadow: 3px 3px 15px 0px rgba(163,163,163,1);
z-index: -2;
}
.player_list_card_picture
{
    left: 0;
    width: 200px;
    float: left;  
    padding-left: 5px;
    padding-top: 37px;  
    z-index: -1;
}

.player_list_card_name
{
    padding-left: 225px;
    padding-top: 10px;
    /* position: absolute; */
    font-size: 36px;
    z-index: -1;
}

.player_list_card_attendance{
    /* padding-top: 14px; */
    padding-right: 10px;
    font-size: 36px;
    float: right;
    z-index: -1;
    margin-top: -40px;
}

.player_list_card_bio{
    /* position: absolute; */
    font-size: 12px;
    padding-left: 250px;
    /* padding-top: 50px;   */
    padding-right: 25px;
    line-height: 18px;
    color: black;
    width: 100% = 250px;
    word-wrap: break-word;
    z-index: -1;
}


@media (max-device-width: 900px)
{
    .leaderboard_holder
{
   overflow-x: auto;
}

.leaderboard{
    overflow-x: auto;
}

.leaderboard_holder:hover .lb_button{
    display: none;
}

.tableContainer{
    
    /* width: 1680px; */
    width: 100%;
    margin: auto;
     /* margin-left: 200px; */
    margin-top: 125px;
    margin-bottom: 800px;
    /* margin-right:  100px; */
    
    height: 800px;
    transform: rotate(90deg);
    background-color: white;
}
}